<!doctype html>
<html>
    <head>
        <meta charset="utf-8">    
        <title><%= title %></title>
    </head>
    <body>
        <div>Somos <%= users.length %></div>
        <% users.forEach(function(user){ %>
        <div class="user">
            <b>Username: </b><%= user.username %>
            <b>Email: </b><%= user.email %>
            <b>Password: </b><%= user.password %>
        </div>
        <% }); %>
        <a href="register">Register in our system</a>
    </body>
</html>